mat-grid-tile {
    background: transparent;

    .example-card {
        max-width: 400px;
      }      

    .example-header-image {
        background-image: url('https://bit.ly/3HneuX6');
        background-size: cover;
    }
      
  }
  