<h1>Statistics</h1>

<div class="card" style="display: flex;">
    <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
            <canvas baseChart width="600" height="300"
                    [type]="'line'"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
            </canvas>
            <canvas baseChart
                    [type]="'pie'"
                    [datasets]="pieChartDatasets"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="card">
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile>
            <canvas baseChart class="chart"
            [data]="doughnutChartData"
            [type]="doughnutChartType">
            </canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas baseChart class="chart"
            [data]="polarAreaChartData"
            [legend]="statisticsAreaLegend1"
            [type]="polarAreaChartType">
            </canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas baseChart class="chart"
            [data]="doughnutChartData"
            [type]="doughnutChartType">
            </canvas>
        </mat-grid-tile>
        <mat-grid-tile>
            <canvas baseChart class="chart"
            [data]="polarAreaChartData"
            [legend]="statisticsAreaLegend1"
            [type]="polarAreaChartType">
            </canvas>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="card">
        <mat-grid-list cols="1" rowHeight="1:1">
            <mat-grid-tile>
                <canvas baseChart class="chart"
                [data]="radarChartData"
                [options]="radarChartOptions"
                [type]="radarChartType">
                </canvas>
            </mat-grid-tile>
        </mat-grid-list>
</div>
  
<!-- <div [ngClass]="getClass()">

    <div class="col-left">
            <div class="card" style="display: block;">
                    <canvas baseChart width="600" height="400"
                    [type]="'line'"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend">
                    </canvas>
            </div>

    </div>

    <div class="col task-col">
                <div class="card" style="display: block;">
                    <canvas baseChart  width="400" height="400"
                    [datasets]="polarAreaChartDatasets"
                    [labels]="polarAreaChartLabels"
                    [legend]="polarAreaLegend"
                    [options]="polarAreaOptions"
                    [type]="'polarArea'">
                   </canvas>
                </div>
    </div>
</div> -->